<%- include('header.ejs') %>
<div class="content content-about">
    <div class="preview">
        <div class="view-cover">
            <img class="view-img"
            src="assets/images/Danesh.jpg"
            alt="Book CoverImage"
            />
            <span class="view-text">
                <div class="title" id="view-title">I'm Danesh Verma a Fullstack Web-Developer </div>
                <div class="date" id="view-date">Created this on: jan 05 2024 </div>
                <div class="note" id="view-note">
                    Have you ever felt overwhelmed by the endless options on your bookshelf? As a aspiring developer, <br>I wanted to build a platform that helps fellow bookworms discover their next great read.
                    <br>
                    Welcome to BookLogs, your personalized portal to a world of captivating stories!<br> We understand the struggle of choosing your next read from a sea of possibilities. That's why we use cutting-edge technology to curate book recommendations just for you, taking the guesswork out of your literary journey. <br>  Built with a powerful combination of PostgreSQL, Node.js, Express.js, EJS, and CSS, aiming a smooth, user-friendly personalized recommendation experience.</div>
            </span>
          </div>
        <div class="btns">
            <a class="back" href="/"><button  id="submit">Back</button></a>
        </div>
    </div>
</div>
<%- include('footer.ejs') %>
