<footer>
    <ul>
      <li class="contacts">
        <a href="https://github.com/DaneshVerma"><img src="/assets/images/github.svg" alt="Github"></a>
        <a href="https://www.linkedin.com/in/daneshverma/"><img src="/assets/images/linkedin.svg" alt="Linkedin"></a>
        <a href="https://www.instagram.com/thedanesh7/"><img src="/assets/images/instagram.svg" alt="Instagram"></a>
      </li>
      <li id="Copyright">Copyright &copy</li>
    </ul>
</footer>
<script>
  var date = new Date().getFullYear()
  document.getElementById("Copyright").innerHTML = `Copyright &copy ${date}`
</script>
</body>
</html>
